 body {
            background: #6DE0E3 ;
            color: #000000;
            font-family: Trebuchet MS, Arial, Times New Roman;
            font-size: 32px;
}
#container {
			margin: 50px auto;
            background: #FFFFFF;
            width: 900px;
            height: 940px;
}
#header {
            background: #838283;
            height: 200px;
            width: 900px;		
}
#expense {
            background: #a2a2a2;
            width: 900px;
            height: 60px;
}
#menu {
            background: #333333;
            float: left;
            width: 900px;
            height: 600px;
}
#clear {
            clear:both;
}
#footer {
            background: #838283;
            height: 80px;
            width: 900px;
}
#window {
			margin-right: 150px;
			margin-left: 150px;
			background: #86dfcb;
            height: 500px;
            width: 800px;
			margin-left: 50px;
			margin-top: 50px;
			border-radius: 20px;
}
#rocket img {
            padding-top:20px;
		    margin-left: 50px;
			margin-top: 67px;
			z-index: 10;
			position:absolute;
}
#rocket {
			padding-top:250px;
			width: 800px;
			height:100px; }
#rocket:hover .move-up {
			transform: translate(0,-50px);
			-webkit-transform: translate(0,-50px);
			-o-transform: translate(0,-50px);
			-moz-transform: translate(0,-50px);
}
#marquee span{z-index:9;
			position:relative;
			font-size:0
}
#marquee {
			margin-top: 88px;
			padding-right:50;
			overflow:hidden;
			white-space:nowrap;
}
#cloud   {
			
			overflow:hidden;
			white-space:nowrap;
			margin-top:-300px;
}
#cloud img  {
			z-index:8;
			position:relative;
			width:100px;
			height:30px;
}
#cloud  span{
			width:100px;
			height:30px;
			font-size:0;			
}
#obstacle span{
			position:relative;
			z-index:1;
			font-size:0;
}
#obstacle {
			z-index:1;
			position:relative;
			width:800px;
			height:62px;
			margin-top: 155px;
			margin-left: 0px;
			padding-right:50;
			overflow:hidden;
			white-space:nowrap;}
#timer {
			display: inline;
}